src/components/__pycache__/__init__.cpython-38.pyc
src/controllers/__pycache__/controller_with_goal.cpython-38.pyc
src/controllers/__pycache__/__init__.cpython-38.pyc
src/components/__pycache__/parameters.cpython-38.pyc
src/components/__pycache__/network.cpython-38.pyc
src/components/__pycache__/memory.cpython-38.pyc
